@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
    .mobile-tabs {
      display: block;
    }
    .mobile-tabs .text-xl {
      display: none;
    }
    .mobile-tabs .mobile-tabs-content {
      display: none;
    }
  }